# Version control
.git
.gitignore

# Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local data and installers
google-chrome-stable_current_amd64.deb
scraper.log
*.csv
*.xlsx

# IDE files
.idea/
.vscode/

# Docker files
Dockerfile
.dockerignore
docker-compose*
